@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* header css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    

}

.highlight{
    padding-left: 120px;
    font-size: 24px;
    
}

.banner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.banner-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 120px;
}
.banner-left h1{
    color: #3A3A3A;
    font-size: 52px;
    font-weight: 700;

}
.banner-left p{
    color: #3A3A3A;
    font-size: 16px;
    margin: 16px 0;
}
.btn{
    height: 44px;
    width: 196px;
    background-color:#E02C6D ;
    padding: 10px 24px;
    border: 0;
    border-radius: 41px;
    color: white;
}
.arrow{
    margin-left: 8px;
}
.banner-right{
    padding-left: 133px;
    
}
.banner-right img{
    width: 440px;
     height: 414px;
     
}

/* main starts */
.container{
   
}
.card-details{
    width: 1047px;
    height: 1662px; 
}
.section-title{
    text-align: center;
    padding: 30px 0;
    font-size: 28px;
    font-weight: 600;
    color:#3A3A3A;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    margin-left: 125px; 
    
}
.blog{
    width: 329px;
    height: 476px;
    background-color: #FFFFFF; 
    border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 17px 14px;
}
 .blog .thumnail img{
     width: 300px;
    height: 256px;
    border-radius: 5px;
}
.fa-star{
   font-size: 11px;
}
.fa-star.filled{
    color: #FB8200;
}
half{

}
.ratting{
    color:#5E6366 ;
    font-size: 14px;
    font-weight: 700;
    /* font family robato */
}

.blog-title{
    color: #18191F;
    font-size:28px ;
    font-weight: 500;

}
.blog-number{
    color:#000000 ;
    font-size: 24px;
    font-weight: 400;
}
.blog-details{
    color:#787885 ;
    font-size: 14px;
    font-weight: bold;
}
/* about me */
.about-me{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.expart{
    color: #787885;
    font-size: 15px;
    padding-left: 150px;
}
.angel{
    font-size: 30px;
    display: flex;
   margin-top: 50px;
  
    
}
.about-me{
    margin-left: 130px;
     margin-bottom: 60px;
}
.name{
    height: 300px;
    width: 250px;
    border-radius: 5px;
    /* box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15); */
    padding: 10px 15px;
}
.details{
    height: 300px;
    width: 250px;
    border-radius: 5px;
    /* box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15); */
    padding: 10px 15px;
}
.photo{
    height: 300px;
    width: 250px;
    border-radius: 5px;
    /* box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15); */
    padding: 10px 15px;
}
.icon{
    color: white;
    height: 40px;
    width:40px;
    background-color: black;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.icon-2{
  color: white;
  height: 40px;
  width:40px;
  background-color: red;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.anik img{
    width: 80%;
}
/* footer css */

footer{
    background-color: #0A0826;
    width: 1440px;
    height: 239px;
    text-align: center;
    padding:50px 0 ;
}

footer{
    width: 1440px;
height: 239px;
}
footer h3{
    color: white;
    font-size: 24px;
    font-weight: 700px;
}
footer small{
  color: #D9DBE1;
  font-size: 14px;

}

